{% extends "home/base.html" %}
{% block content %}
<!-- <p>{{ data }}</p> -->
<div class="container">
    <h1 align="center" style="font-family: 'Times New Roman', Times, serif; font-size: 60px;">About</h1><br><br>
    <!-- <td> -->
        <!-- <img src="../../static/about 2.png" alt="" class="img-responsive"
            style="width: 80%; float: center; margin-block-start: 10px;" /> -->

    <!-- </td> -->
    <div class="my-3">
        <!-- <h1>
            The main reason to take this topic as our project is :
        </h1><br> -->
        <h4>

            It identifies naturally occurring flowers and its type.

            It detects flower and its species as well.

            It describes the related information about particular flower like botanical names, plant kingdom or
            medicinal uses if any.

            It become convenient to identify flower types in various field such as gardening,botany research etc.

        </h4><br>
        <h3>
            Main objectives for selecting this topic are as follows :
        </h3><br>
        <h4>
            ● The main Objective of the project is to develop awareness in people of the ethological importance of
            commonly seen flowers.
            <br>● According to the preaching of our ancestors flowers can be used for medication, cosmetics, in
            cuisines.

        </h4>

    </div>
</div>
{% endblock content %}