{% extends "home/base.html" %}
{% block content %}
<div class="container">

    <h1 align="center" style="font-family: 'Times New Roman', Times, serif; font-size: 60px;">Dandelion</h1>
    <h3 align="center" style="color: crimson;">(Scientific name : TARAXACUM)</h3>
    <div id="toc" class="toc" role="navigation" aria-labelledby="mw-toc-heading"><input type="checkbox" role="button"
            id="toctogglecheckbox" class="toctogglecheckbox" style="display:none">
        <div class="toctitle" lang="en" dir="ltr">
            <h2 id="mw-toc-heading" style="font-family:'Courier New', Courier, monospace;"><b>Contents</b></h2><span
                class="toctogglespan"><label class="toctogglelabel" for="toctogglecheckbox"></label></span>
        </div>
        <ul>
            <li class="toclevel-1 tocsection-1"><a href="#Introduction"><span class="tocnumber">1</span> <span
                        class="toctext">Introduction</span></a></li>
            <li class="toclevel-1 tocsection-2"><a href="#Etymology"><span class="tocnumber">2</span> <span
                        class="toctext">Etymology</span></a></li>
            <li class="toclevel-1 tocsection-3"><a href="#Botany"><span class="tocnumber">3</span> <span
                        class="toctext">Botany</span></a>
                <ul>
                    <li class="toclevel-2 tocsection-4"><a href="#Evolution"><span class="tocnumber">3.1</span>
                            <span class="toctext">Evolution</span></a></li>
                    <li class="toclevel-2 tocsection-5"><a href="#Species"><span class="tocnumber">3.2</span> <span
                                class="toctext">Species</span></a></li>
                    <li class="toclevel-2 tocsection-6"><a href="#Taxonomy"><span class="tocnumber">3.3</span> <span
                                class="toctext">Taxonomy</span></a></li>
                </ul>
            </li>
            <li class="toclevel-1 tocsection-7"><a href="#Uses"><span class="tocnumber">4</span> <span
                        class="toctext">Uses</span></a>
                <ul>
                    <li class="toclevel-2 tocsection-8"><a href="#Ornamental_plants"><span class="tocnumber">4.1</span>
                            <span class="toctext">Ornamental plants</span></a></li>
                    <li class="toclevel-2 tocsection-9"><a href="#Cut_flowers"><span class="tocnumber">4.2</span> <span
                                class="toctext">Cut flowers</span></a></li>
                    <li class="toclevel-2 tocsection-10"><a href="#Medicinal_uses"><span class="tocnumber">4.3</span>
                            <span class="toctext">Medicinal uses</span></a></li>
                    <li class="toclevel-2 tocsection-11"><a href="#Health_benefits"><span class="tocnumber">4.4</span>
                            <span class="toctext">Health benefits</span></a></li>
                    <li class="toclevel-2 tocsection-12"><a href="#Perfumes_and_food"><span class="tocnumber">4.5</span>
                            <span class="toctext">Perfumes and food</span></a></li>
                </ul>
            </li>
            <li class="toclevel-1 tocsection-13"><a href="#Symbolizes"><span class="tocnumber">5</span> <span
                        class="toctext">Symbolizes</span></a></li>
            <li class="toclevel-1 tocsection-14"><a href="#Season_to_grow"><span class="tocnumber">6</span> <span
                        class="toctext">Season to grow</span></a></li>
        </ul>
    </div>

    <h3><span class="mw-headline" id="Introduction"
            style="font-family:'Courier New', Courier, monospace;"><b>Introduction</b></span><span
            class="mw-editsection"></span></h3>
    <p>
        Taraxacum is a large genus of flowering plants in the family Asteraceae, which consists of species commonly
        known as Dandelions.They grows from taproots and produces several hollow, leafless flower stems  that are
        typically 5–40 cm,the stems can be tinted purplish.Plants have milky latex and the leaves are all basal; each
        flowering stem lacks bracts and has one single flower head.The leaves are 5–45 cm long and 1–10 cm wide, and are
        obovate in shape, with the bases gradually narrowing to the petiole .The fruits are called cypselae range in
        color from olive-green or olive-brown to straw-colored to grayish, they are oblanceoloid in shape and 2–3 mm
        long with slender beaks.(Taraxacum officinale)known as common dandelion is well known for its yellow flower
        heads that turn into round balls of many silver-tufted fruits that disperse in the wind. These balls are usually
        called "clocks" </p>
    <h3><span class="mw-headline" id="Etymology"
            style="font-family:'Courier New', Courier, monospace;"><b>Etymology</b></span><span
            class="mw-editsection"></span>
    </h3>
    <p>
        Taraxacum is derived from the Arabic word tarakhshagog for a bitter herb.The Latin specific epithet officinale
        refers to the Latin word for 'medicinal'
    </p>
    <h3><span class="mw-headline" id="Botany"
            style="font-family:'Courier New', Courier, monospace;"><b>Botany</b></span><span
            class="mw-editsection"></span></h3>
    <p>
        <span class="mw-headline" id="Evolution"><b>1.) Evolution</b></span><span class="mw-editsection"></span>
    <p>It was first appeared in European history in the 13th Century when it was used by the Welsh.now, in India it
        grows in Kotmalla village in Rudraprayag district of uttarakhand across World,it grows in Eurasia mostly in
        temperate region </p>

    <span class="mw-headline" id="Species"><b>2.) Species</b></span><span class="mw-editsection"></span>
    <p>There are about 250 species some of them are Red-Seeded Dandelion ( Taraxacum Erythrospermum) can be found in
        shady or sunny areas, areas with undisturbed soil, roadsides, and lawns , (Taraxacum albidum) is a species of
        dandelion that grows in eastern Eurasia,(Taraxacum californicum )also known as the California dandelion grows in
        mountain meadows,(Taraxacum farinosum) common name in Turkish dandelion that grows between 800 and 1200 m on
        salty soils in central Turkey ,(Taraxacum platycarpum) also called the Korean dandelion, is a species of
        dandelion that grows in Korea and as native plant in China and Japan.</p>
    <span class="mw-headline" id="Taxonomy"><b>3.) Taxonomy</b></span><span class="mw-editsection"></span>
    <p>Domain : eukaryote</br>
        Kingdom : plantae</br>
        Phylum : vascular plant</br>
        Order : asterales</br>
        Family : Asteraceae</br>
        Genus : Taraxacum</p>
    </p>

    <p>
    <h3><span class="mw-headline" id="Uses"
            style="font-family:'Courier New', Courier, monospace;"><b>Uses</b></span><span
            class="mw-editsection"></span></h3>
    <span class="mw-headline" id="Ornamental_plants"><b>1.) Ornamental plants</b></span><span
        class="mw-editsection"></span>
    <p>They are weedy pests but useful as well as they play important role in ecosystem asa well.In lawns for ornamental
        use , they nourishes ladubugs which in turn eats aphids and they aerate and add nutrient to soil.</p>

    <span class="mw-headline" id="Cut_flowers"><b>2.) Cut flowers</b></span><span class="mw-editsection"></span>
    <p>The flower buds that have been cut from plant ,as it can be use for decorative purpose.typically in garlands,vase
        display.cut flowers can also be harvested from wild and for dandelion they wilt up too fast when kept in vase.
    </p>

    <span class="mw-headline" id="Medicinal_uses"><b>3.) Medicinal uses</b></span><span class="mw-editsection"></span>
    <p>To treat stomach problems,appendicits,also use as remedies for fever,diabetes,diarrhea. it is used as skin toner.
        Roots and leaves of this plant has been eaten for thousands of years as food and medicine to help treat anemia,
        scurvy, skin problems, blood disorders, and depression.Diuretic property of plant is used as traditional chinese
        medicine for approx.2000 years.Dandelion has been used in traditional medicine in Europe, North America,and
        China
    </p>

    <span class="mw-headline" id="Health_benefits"><b>4.) Health benefits</b></span><span class="mw-editsection"></span>
    <p>It is highly nutritious,contains potent antioxidants: beta carotene which protects against cell damage,polyphenol
        help to reduce inflammation. chicoric and chlorogenic acid helps to decrease blood sugar level in foods,
        dandelion used as salad greens and also in wines ,teas.The leaves are high in vitamins A and C, as well as
        iron.Dandelion can help to fight inflammation, boost immune system, act as an anti aging agent in skin care
        products and even treat type 2 diabetes, cancer, and HIV.</p>

    <span class="mw-headline" id="Perfumes_and_food"><b>5.) Perfumes and food</b></span><span
        class="mw-editsection"></span>
    <p>Dandelions are harvested from the wild or grown on a small scale as a leaf vegetable. The leaves (called
        dandelion greens) can be eaten cooked or raw in various forms, such as in soup or salad.Raw leaves have a
        slightly bitter taste.Dandelion flowers can be used to make dandelion wine.In Silesia and other parts of Poland
        and the world, dandelion flowers are used to make a honey substitute syrup with added lemon,Ground roasted
        dandelion root can be used as a non-caffeinated coffee substitute.</p>
    </p>
    <h3><span class="mw-headline" id="Symbolizes"
            style="font-family:'Courier New', Courier, monospace;"><b>Symbolizes</b></span><span
            class="mw-editsection"></span></h3>
    <p>
        It symbolizes joy,endurance,determination,good wishes, hope and prosperity.It is also believed that Apollo, the
        Greek god of the sun and medicine, had the Dandelion as one of his medicinal healing plants.
    </p>
    <h3><span class="mw-headline" id="Season_to_grow" style="font-family:'Courier New', Courier, monospace;"><b>Season
                to
                grow</b></span><span class="mw-editsection"></span></h3>
    <p>
        It requires moist soil and sunlight to thrive mostly in Spring.The common dandelion grows in temperate regions
        of the world in lawns, and on roadsides, disturbed banks, shores of waterways, and other areas with moist soils.
    </p>
</div>

{% endblock content %}