{% extends "home/base.html" %}
{% block content %}
<div class="container">

    <h1 align="center" style="font-family: 'Times New Roman', Times, serif; font-size: 60px;">Rose</h1>
    <h3 align="center" style="color: crimson;">(Scientific name : ROSA)</h3>
    <div id="toc" class="toc" role="navigation" aria-labelledby="mw-toc-heading"><input type="checkbox" role="button"
            id="toctogglecheckbox" class="toctogglecheckbox" style="display:none">
        <div class="toctitle" lang="en" dir="ltr">
            <h2 id="mw-toc-heading" style="font-family:'Courier New', Courier, monospace;"><b>Contents</b></h2><span
                class="toctogglespan"><label class="toctogglelabel" for="toctogglecheckbox"></label></span>
        </div>
        <ul>
            <li class="toclevel-1 tocsection-1"><a href="#Introduction"><span class="tocnumber">1</span> <span
                        class="toctext">Introduction</span></a></li>
            <li class="toclevel-1 tocsection-2"><a href="#Etymology"><span class="tocnumber">2</span> <span
                        class="toctext">Etymology</span></a></li>
            <li class="toclevel-1 tocsection-3"><a href="#Botany"><span class="tocnumber">3</span> <span
                        class="toctext">Botany</span></a>
                <ul>
                    <li class="toclevel-2 tocsection-4"><a href="#Evolution"><span class="tocnumber">3.1</span>
                            <span class="toctext">Evolution</span></a></li>
                    <li class="toclevel-2 tocsection-5"><a href="#Species"><span class="tocnumber">3.2</span> <span
                                class="toctext">Species</span></a></li>
                    <li class="toclevel-2 tocsection-6"><a href="#Taxonomy"><span class="tocnumber">3.3</span> <span
                                class="toctext">Taxonomy</span></a></li>
                </ul>
            </li>
            <li class="toclevel-1 tocsection-7"><a href="#Uses"><span class="tocnumber">4</span> <span
                        class="toctext">Uses</span></a>
                <ul>
                    <li class="toclevel-2 tocsection-8"><a href="#Ornamental_plants"><span class="tocnumber">4.1</span>
                            <span class="toctext">Ornamental plants</span></a></li>
                    <li class="toclevel-2 tocsection-9"><a href="#Cut_flowers"><span class="tocnumber">4.2</span> <span
                                class="toctext">Cut flowers</span></a></li>
                    <li class="toclevel-2 tocsection-10"><a href="#Medicinal_uses"><span class="tocnumber">4.3</span>
                            <span class="toctext">Medicinal uses</span></a></li>
                    <li class="toclevel-2 tocsection-11"><a href="#Health_benefits"><span class="tocnumber">4.4</span>
                            <span class="toctext">Health benefits</span></a></li>
                    <li class="toclevel-2 tocsection-12"><a href="#Perfumes_and_food"><span class="tocnumber">4.5</span>
                            <span class="toctext">Perfumes and food</span></a></li>
                </ul>
            </li>
            <li class="toclevel-1 tocsection-13"><a href="#Symbolizes"><span class="tocnumber">5</span> <span
                        class="toctext">Symbolizes</span></a></li>
            <li class="toclevel-1 tocsection-14"><a href="#Season_to_grow"><span class="tocnumber">6</span> <span
                        class="toctext">Season to grow</span></a></li>
        </ul>
    </div>

    <h3><span class="mw-headline" id="Introduction"
            style="font-family:'Courier New', Courier, monospace;"><b>Introduction</b></span><span
            class="mw-editsection"></span></h3>
    <p>
        Rose is the king of flower. It has red petals. It has small thorns to protect itself
        from herbivores. It is a shrub. It has round and deep green coloured leaves. Rose is liked by all for its beauty
        and
        smell. Rose plant possess different types of colour. It comes in red, orange, white, etc. The size of these
        flowers
        differ from plant to plant. In India mostly Roses are grown in many areas of north, especially where soil is
        rich
        and water abundant like Pushkar in Rajasthan,and accross the world mostly in China,North America and few to
        Europe
        and northwest Africa.Roses are native to the temperate regions of the Northern Hemisphere. Most rose species are
        native to Asia, though some are native to North America, Europe or northwest Africa. Roses from different
        regions of
        the world hybridize readily.</p>
    <h3><span class="mw-headline" id="Etymology"
            style="font-family:'Courier New', Courier, monospace;"><b>Etymology</b></span><span
            class="mw-editsection"></span>
    </h3>
    <p>
        The name rose is derived from latin word rosa, which refers to woody perennial flowering plant of genus rosa.
    </p>
    <h3><span class="mw-headline" id="Botany"
            style="font-family:'Courier New', Courier, monospace;"><b>Botany</b></span><span
            class="mw-editsection"></span></h3>
    <p>
        <span class="mw-headline" id="Evolution"><b>1.) Evolution</b></span><span class="mw-editsection"></span>
    <p>Garden cultivation of roses began some 5,000 years ago, probably in China. During
        the
        Roman period, roses were grown extensively in the Middle East. They were used as confetti at celebrations, for
        medicinal purposes, and as a source of perfume. Roman nobility established large public rose gardens in the
        south of
        Rome.The origin of the rose (Rosa) flower occurred before humankind evolved. Fossils found in Colorado have been
        dated to 35 million years of age. As it, and humankind, evolved, the flower came to represent life, love and
        purity
        – and its symbolism even went so far as to represent warring families</p>

    <span class="mw-headline" id="Species"><b>2.) Species</b></span><span class="mw-editsection"></span>
    <p>Wild Species Roses include many different varieties. Wild Species Roses usually bloom once in the
        summer. Old Garden Roses have a delicate beauty and wonderful perfume, not often found in modern hybrid tea
        roses.
        rose species are bush-type, some climbing, growing naturally in the wild that grows up to 6 meters in height.
        The
        flowers are simple with 5 petals, usually in pink, red or white and only bloom once a year. There are over 200
        species roses and their simple beauty and ease of maintenance are preferred by many gardeners.</p>
    <span class="mw-headline" id="Taxonomy"><b>3.) Taxonomy</b></span><span class="mw-editsection"></span>
    <p>Domain : eukaryote</br>
        Kingdom : plantae</br>
        Phylum : vascular plant</br>
        Order : rosales</br>
        Family : rosaceae</br>
        Genus : rosa</p>
    </p>

    <p>
    <h3><span class="mw-headline" id="Uses"
            style="font-family:'Courier New', Courier, monospace;"><b>Uses</b></span><span
            class="mw-editsection"></span></h3>
    <span class="mw-headline" id="Ornamental_plants"><b>1.) Ornamental plants</b></span><span
        class="mw-editsection"></span>
    <p>Roses are best known as ornamental plants grown for their flowers in the gardens
        and houses. Desert rose(succulent) is very easy to grow it has pink and white trumpet-shaped flower they can be
        planted in ground or inside a pot because of its easy to shape characteristics also they are trained as bonsai
        plant.They give our senses some joy so as result such plants come in wide range of colors shape and sizes.They
        have
        been also used for commercial perfume, Bouquet industry and used in herbal and folk medicines. Garden roses are
        predominantly hybrid roses that are grown as ornamental plants in private or public gardens. They are one of the
        most popular and widely cultivated groups of flowering plants, especially in temperate climates.</p>

    <span class="mw-headline" id="Cut_flowers"><b>2.) Cut flowers</b></span><span class="mw-editsection"></span>
    <p>cut flowers means here stems are much thinner and heads often noded; Eg:shrub ,polyantha
        and
        grandiflora roses are best bets in cutting garden for lower maintenance and prolific blooming. Hybrid teas are
        wonderful cut flowers. Floribunda display cluster of roses at end of stems, they makes excellent cutting
        rose.Many
        gardeners harvest their own cut flowers from domestic gardens , also there are floral industry for cut flowers
        in
        many countries.</p>

    <span class="mw-headline" id="Medicinal_uses"><b>3.) Medicinal uses</b></span><span class="mw-editsection"></span>
    <p>They are anti-depressant,anti-spasmodic(for cramp),cleasing ,anti bacterial
        ,antiseptic.Rosa
        chinensis used in chinese medicine also other species are used for controlling cancer growth,stomach problems.
    </p>

    <span class="mw-headline" id="Health_benefits"><b>4.) Health benefits</b></span><span class="mw-editsection"></span>
    <p>rose hips tea used in treatment of diarrhoea,expelling toxins from body,strengthens
        the
        digestive
        process,prevents urinary tract infection,good for cough and cold as it is rich in vitamin C
        eating dried rose petal helps in weight loss as well as unwanted fats .rose water can be use as daily skin care
        routine.also Rose hip seed oil used in skin products and makeup product.</p>

    <span class="mw-headline" id="Perfumes_and_food"><b>5.) Perfumes and food</b></span><span
        class="mw-editsection"></span>
    <p>Rose essential oil also known as "attar" is made from damask rose or cabbage rose,
        turkish
        rose
        commanly used as perfume they are grown around Grasse in south of France. Using rose petals in cooking spice
        mixes
        with rose can make an excellent dry rub for poultry,and other meats.in western culture, roses are more often
        used in
        desserts and sweet dishes.rose pairs well with honey,saffron.Rose hips are high in Vitamin C are edible raw,and
        occasionally made into jam,jelly and soup. Rose water has very distinctive flavour used in barfi,halva,gulab
        jamun
        also sweet preserve of rose petal called Gulkand is comman in Indian subcontinent.Rose syrup made by extracting
        rose
        petals is mostly used in France.The flower stems and young shoots are edible used as flavouring or to add scent
        to
        food.</p>
    </p>
    <h3><span class="mw-headline" id="Symbolizes"
            style="font-family:'Courier New', Courier, monospace;"><b>Symbolizes</b></span><span
            class="mw-editsection"></span></h3>
    <p>
        It symbolizes miraculous love at work.Rose is floral emblem of United States.
    </p>
    <h3><span class="mw-headline" id="Season_to_grow" style="font-family:'Courier New', Courier, monospace;"><b>Season
                to
                grow</b></span><span class="mw-editsection"></span></h3>
    <p>
        It requires well drained soil and sunny spot mainly should be planted in oct to dec, but it
        blooms in any weather.
    </p>
</div>

{% endblock content %}