{% extends "home/base.html" %}
{% block content %}
<div class="container">

    <h1 align="center" style="font-family: 'Times New Roman', Times, serif; font-size: 60px;">Tulip</h1>
    <h3 align="center" style="color: crimson;">(Scientific name: TULIPA)</h3>
    <div id="toc" class="toc" role="navigation" aria-labelledby="mw-toc-heading"><input type="checkbox" role="button"
            id="toctogglecheckbox" class="toctogglecheckbox" style="display:none">
        <div class="toctitle" lang="en" dir="ltr">
            <h2 id="mw-toc-heading" style="font-family:'Courier New', Courier, monospace;"><b>Contents</b></h2><span
                class="toctogglespan"><label class="toctogglelabel" for="toctogglecheckbox"></label></span>
        </div>
        <ul>
            <li class="toclevel-1 tocsection-1"><a href="#Introduction"><span class="tocnumber">1</span> <span
                        class="toctext">Introduction</span></a></li>
            <li class="toclevel-1 tocsection-2"><a href="#Etymology"><span class="tocnumber">2</span> <span
                        class="toctext">Etymology</span></a></li>
            <li class="toclevel-1 tocsection-3"><a href="#Botany"><span class="tocnumber">3</span> <span
                        class="toctext">Botany</span></a>
                <ul>
                    <li class="toclevel-2 tocsection-4"><a href="#Evolution"><span class="tocnumber">3.1</span>
                            <span class="toctext">Evolution</span></a></li>
                    <li class="toclevel-2 tocsection-5"><a href="#Species"><span class="tocnumber">3.2</span> <span
                                class="toctext">Species</span></a></li>
                    <li class="toclevel-2 tocsection-6"><a href="#Taxonomy"><span class="tocnumber">3.3</span> <span
                                class="toctext">Taxonomy</span></a></li>
                </ul>
            </li>
            <li class="toclevel-1 tocsection-7"><a href="#Uses"><span class="tocnumber">4</span> <span
                        class="toctext">Uses</span></a>
                <ul>
                    <li class="toclevel-2 tocsection-8"><a href="#Ornamental_plants"><span class="tocnumber">4.1</span>
                            <span class="toctext">Ornamental plants</span></a></li>
                    <li class="toclevel-2 tocsection-9"><a href="#Cut_flowers"><span class="tocnumber">4.2</span> <span
                                class="toctext">Cut flowers</span></a></li>
                    <li class="toclevel-2 tocsection-10"><a href="#Medicinal_uses"><span class="tocnumber">4.3</span>
                            <span class="toctext">Medicinal uses</span></a></li>
                    <li class="toclevel-2 tocsection-11"><a href="#Health_benefits"><span class="tocnumber">4.4</span>
                            <span class="toctext">Health benefits</span></a></li>
                    <li class="toclevel-2 tocsection-12"><a href="#Perfumes_and_food"><span class="tocnumber">4.5</span>
                            <span class="toctext">Perfumes and food</span></a></li>
                </ul>
            </li>
            <li class="toclevel-1 tocsection-13"><a href="#Symbolizes"><span class="tocnumber">5</span> <span
                        class="toctext">Symbolizes</span></a></li>
            <li class="toclevel-1 tocsection-14"><a href="#Season_to_grow"><span class="tocnumber">6</span> <span
                        class="toctext">Season to grow</span></a></li>
        </ul>
    </div>

    <h3><span class="mw-headline" id="Introduction"
            style="font-family:'Courier New', Courier, monospace;"><b>Introduction</b></span><span
            class="mw-editsection"></span></h3>
    <p>
        A Tulip is Flower of the spring-blooming .It blossom in cup-shaped also some have star or bowl form all tulip
        flowers has 6 petals(smooth,ruffled). The flowers of tulips gained huge popularity across history due to their
        large size, vibrant colors, striking beauty ,showy and brightly colored; generally red, pink, yellow, or white .
        They often have a different colored blotch at the base of the tepals (petals and sepals, collectively) .Tulips
        originally were found in a band stretching from Southern Europe to Central Asia ,it grows in Himachal
        Pradesh,Uttarakhand and hilly areas of Jammu and Kashmir are perfect for tulip cultivation.Netherland is main
        producer of tulip(3 billion bulb annually);Tulips were frequently depicted in Dutch Golden Age paintings.In
        their natural state they are adapted to steppes and mountainous areas with temperate climates.Tulips are also
        popular in Australia and several festivals are held in September and October, during the Southern Hemisphere's
        spring.</p>
    <h3><span class="mw-headline" id="Etymology"
            style="font-family:'Courier New', Courier, monospace;"><b>Etymology</b></span><span
            class="mw-editsection"></span>
    </h3>
    <p>
        The modern name Tulip was first mentioned in western Europe is latinized version of Turkish word for
        turban,'tulbend' which ultimately derives from persian'Dulband' meaning round."Turks" used the word "tulipan" to
        describe the flower.
    </p>
    <h3><span class="mw-headline" id="Botany"
            style="font-family:'Courier New', Courier, monospace;"><b>Botany</b></span><span
            class="mw-editsection"></span></h3>
    <p>
        <span class="mw-headline" id="Evolution"><b>1.) Evolution</b></span><span class="mw-editsection"></span>
    <p>Cultivation of the tulip began in Iran (Persia), probably in the 10th century.The first tulip appeared in France.
        Establishment of the first cultivation operations south of Haarlem, especially along the Wagenweg and the Kleine
        Houtweg. These absolute monopolies would hold onto their positions for about 150 years.The Tulip goes to Europe
        During the 1500's,Beautiful botanical drawings of tulips,Europeans became plant explorers; Tulipa bononiensis,
        became very famous.By the 15th century, tulips were among the most prized flowers; becoming the symbol of the
        Ottomans.In the Ottoman Empire, numerous types of tulips were cultivated and bred, and today 14 species can
        still be found in Turkey. Central Asia, tulips were cultivated in early 1055. There are about 75 species, and
        these are divided among four subgenera.</p>

    <span class="mw-headline" id="Species"><b>2.) Species</b></span><span class="mw-editsection"></span>
    <p>There are several varieties of species tulips that will give you a range of colors, foliage, and height for your
        beds or rock gardens: Lady Tulip ( Tulipa clusiana )this species tulip produces gorgeous, unique flowers that
        are pink on the outside and white on the inside with a red or purple star in the center.Many Species tulips will
        naturalize in Southern US states such as Texas, where winters are too mild for hybridized tulips. Successful
        varieties include Tulipa clusiana (Lady Tulip), Tulipa praecod (Fire tulip), Tulipa saxatilis (Cretan Tulip),
        Tulipa sylvestris (Florentine Tulip) and Tulipa orphanidea (Greek Tulip)</p>
    <span class="mw-headline" id="Taxonomy"><b>3.) Taxonomy</b></span><span class="mw-editsection"></span>
    <p>Domain : eukaryote</br>
        Kingdom : plantae</br>
        Phylum : vascular plant</br>
        Order : liliales</br>
        Family : liliaceae</br>
        Genus : tulipa</p>
    </p>

    <p>
    <h3><span class="mw-headline" id="Uses"
            style="font-family:'Courier New', Courier, monospace;"><b>Uses</b></span><span
            class="mw-editsection"></span></h3>
    <span class="mw-headline" id="Ornamental_plants"><b>1.) Ornamental plants</b></span><span
        class="mw-editsection"></span>
    <p>The 1000 of hybrid & cultivars addition to original species knowns as botanical tulips and many species of tulips
        are used as ornamental garden plant(grown for displaying ).It is planted in strategic places in the garden.The
        tulip is an exclusive garden plant.</p>

    <span class="mw-headline" id="Cut_flowers"><b>2.) Cut flowers</b></span><span class="mw-editsection"></span>
    <p>tulip to grow for cut flowers just for show then pull the bulb. unique specialty tulips available to cut flower
        growers; There are frilly, many-petaled varieties that can pass as garden and double-height blooms that look
        like two scoops of ice cream. ate 17th century people started using them as garden decorator,soon became major
        trading product in Holland and other parts of Europe.The interest for flowers was huge and bulbs were sold for
        high prices.</p>

    <span class="mw-headline" id="Medicinal_uses"><b>3.) Medicinal uses</b></span><span class="mw-editsection"></span>
    <p>It has diuretic,antiseptic properties best remedy for cough and cold,reduces risk of cancer, Used for sinus pain,
        fever and headache. tulip is consider as powerhouse for skincare , used in cosmetics as it contain high level of
        growth factor even if it is picked also gives relief,soothing effect on insect bites, bee stings and also rashes
        on skin so its a excellent poultice . Warm up 2-4 flowers in hot water. Dip a towel in the hot water and drop
        the petals of the flowers into the towel. Roll the towel to crush the leaves. Apply the crushed petals to area
        where there is skin rash, bee sting or insect bite to find quick relief from the irritation. Hold the leaves on
        the place for 10 minutes using the hot towel.
    </p>

    <span class="mw-headline" id="Health_benefits"><b>4.) Health benefits</b></span><span class="mw-editsection"></span>
    <p>Tulip also comprise of cosmetic uses. Tulip extracts are used in many beauty products. Cosmetic uses of Tulip are
        Best for Dry sensitive skin, Used in creams, hand lotions and in essential oils, Used in Perfumes.
    </p>

    <span class="mw-headline" id="Perfumes_and_food"><b>5.) Perfumes and food</b></span><span
        class="mw-editsection"></span>
    <p>Scent in tulips is linked to color, due to the species used in the development of the modern hybrids. A
        lemon-colored species called Tulipa sylvestris is very sweetly scented. Its descendants of yellow and orange
        shades are often fragrant.Tulips are used to make wine .the tulip bulb and its petals are edible.The petals are
        chopped and combined with a salad. The petals help in adding color to the meal. However, it is not recommended
        to consume many tulips because the bulbs and petals have small amounts of toxic glycosides. petals tastes varies
        by variety and season, and is roughly similar to lettuce.Tulip bulbs look similar to onions, but should not
        generally be considered food.</p>
    </p>
    <h3><span class="mw-headline" id="Symbolizes"
            style="font-family:'Courier New', Courier, monospace;"><b>Symbolizes</b></span><span
            class="mw-editsection"></span></h3>
    <p>
        It was also associated with the House of Osman, resulting in tulips being widely used in decorative motifs on
        tiles, mosques, fabrics, crockery, etc , in the Ottoman Empire. The tulip was seen as a symbol of abundance and
        indulgence.The tulip is the national symbol for martyrdom in Iran
    </p>
    <h3><span class="mw-headline" id="Season_to_grow" style="font-family:'Courier New', Courier, monospace;"><b>Season
                to
                grow</b></span><span class="mw-editsection"></span></h3>
    <p>
        as they thrive(develops well) in colder winters because of long chilling requirement for bulbs
    </p>
</div>

{% endblock content %}